<div class="container">
    <div class="columns" style="margin-top: 20px;">
        <div class="column is-one-third">
            <input class="input" type="text" placeholder="Busca rápida" ng-model="$ctrl.query">
        </div>
        <div class="column has-text-right">
            <button class="button is-primary" onclick="openAddModal()">Inserir</button>
        </div>
    </div>
    <div class="columns">
        
        <div class="column">
            <!--Body content-->

            <table class="table is-striped is-fullwidth">
                <thead>
                    <tr>
                        <th>Index</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Sexo</th>
                        <th scope="col">Idade</th>
                        <th scope="col" style="width: 200px;">actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="client in clients | filter:$ctrl.query">
                        <td>{{ $index + 1 }}</td>
                        <td>{{client.name}}</td>
                        <td>{{client.gender}}</td>
                        <td>{{client.age}}</td>
                        <td>
                            <button class="button is-primary" ng-click="edit($index)">Editar</button>
                            <button class="button" ng-click="delete($index)">Excluir</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            
        </div>
    </div>
</div>

<div class="modal" id="modalAdd">
    <div class="modal-background"></div>
    <div class="modal-content">
        <div class="box">
            <h2 class="subtitle">Inserir cliente</h2>
            <div class="control" style="margin-bottom: 20px">
                <strong>Nome:</strong>
                <input  ng-model="client.name" class="input is-hovered" type="text" />
            </div>
            <div class="control" style="margin-bottom: 20px">
                <strong>Sexo:</strong><br />
                <div class="select">
                    <select ng-model="client.gender" class="is-hovered">
                        <option>Selecione</option>
                        <option>Feminino</option>
                        <option>Masculino</option>
                    </select>
                </div>
            </div>
            <div class="control" style="margin-bottom: 20px">
                <strong>Idade:</strong>
                <input  ng-model="client.age" class="input is-hovered" type="text" />
            </div>
            <button class="button is-primary" ng-click="addClient()">Inserir</button>
        </div>
    </div>
    <button class="modal-close is-large" aria-label="close" onclick="closeModal()"></button>
</div>

<div class="modal" id="modalUpdate">
    <div class="modal-background"></div>
    <div class="modal-content">
        <div class="box">
            <h2 class="subtitle">Atualizar cliente</h2>

            <div class="control" style="margin-bottom: 20px">
                <strong>Nome:</strong>
                <input  ng-model="client_detail.name" class="input is-hovered" type="text" />
            </div>
            <div class="control" style="margin-bottom: 20px">
                <strong>Sexo:</strong><br />
                <div class="select">
                    <select ng-model="client_detail.gender" class="is-hovered">
                        <option>Feminino</option>
                        <option>Masculino</option>
                    </select>
                </div>
            </div>
            <div class="control" style="margin-bottom: 20px">
                <strong>Idade:</strong>
                <input  ng-model="client_detail.age" class="input is-hovered" type="text" />
            </div>
            <button class="button is-primary" ng-click="update()">Atualizar</button>
        </div>
    </div>
    <button class="modal-close is-large" aria-label="close" onclick="closeModal()"></button>
</div>